<main>
    <div class="container body-content span=8 offset=2">
        <div class="well">
            <form class="form-horizontal" th:action="@{/address/restore}" method="POST">
                <fieldset>
                    <legend>Restore Your Address</legend>

                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <h2>Enter mnemonic phrase here:</h2>
                            <div class="form-group">

                                <div class="col-md-12">
                                    <textarea class="form-control" rows="6" id="mnemonic" name="mnemonic"></textarea>
                                </div>
                            </div>
                            <input type="submit" class="btn btn-primary" value="Restore"/>
                        </div>

                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</main>