<main>
    <div class="container body-content span=8 offset=2">
        <div class="well">
            <form class="form-horizontal" th:action="@{/faucet/create}" method="POST">
                <fieldset>
                    <legend>Faucet</legend>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="addressGetCoins">Address</label>
                        <div class="col-sm-4 ">
                            <input type="text" class="form-control" id="addressGetCoins" placeholder="Enter Your Address"
                                   name="address" required="required" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <input type="submit" class="btn btn-primary"  value="Get Coins"/>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</main>