<main>
    <div class="container body-content span=8 offset=2">
        <div class="well">
            <form class="form-horizontal" th:action="@{/balance/create}" method="POST">
                <fieldset>
                    <legend>Get Your Balance</legend>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="address">Enter Your Address</label>
                        <div class="col-sm-4 ">
                            <input type="text" class="form-control" id="address" placeholder="Address"
                                   name="title"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <input type="submit" class="btn btn-primary" value="Get Balance"/>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</main>