@model object

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
    <div class="faucet">
        <h1>ETH - <span class="text-primary">QuickChain Faucet</span></h1>
    </div>
    <hr />
<input name="address_join" class="form-control" type="text" placeholder="What's Your Cryptocoin Address?">
<input type="submit" value="Submit"/>

</body>
</html>