<main>
    <div class="container body-content span=8 offset=2">
        <div class="well">
            <form class="form-horizontal" th:action="@{/transaction/details}" method="POST">
                <fieldset>
                    <legend>Make a Transaction</legend>


                    <div class="row">
                        <label class="col-sm-4 control-label" for="address" style="padding: 15px">Sender's Address</label>
                        <div class="col-sm-4 ">
                            <p style="padding: 15px" id="address" th:text="${transactionUnsigned.from}"></p>
                        </div>
                    </div>

                    <div class="row">
                        <label class="col-sm-4 control-label" for="rec_address" style="padding: 15px">Receiver's Address</label>
                        <div class="col-sm-4 ">
                            <p id="rec_address" th:text="${transactionUnsigned.to}" style="padding: 15px"></p>
                        </div>
                    </div>

                    <div class="row">
                        <label class="col-sm-4 control-label" for="amount" style="padding: 15px">Amount</label>
                        <div class="col-sm-4 ">
                            <p id="amount" th:text="${transactionUnsigned.value}" style="padding: 15px"></p>
                        </div>
                    </div>

                    <div class="row">
                        <label class="col-sm-4 control-label" for="fee" style="padding: 15px">Fee</label>
                        <div class="col-sm-4 ">
                            <p id="fee" th:text="${transactionUnsigned.fee}" style="padding: 15px"></p>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" th:href="@{/transaction/create}">Back</a>
                            <input type="submit" class="btn btn-primary" value="Sign"/>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</main>

