<main>
    <div class="container body-content span=8 offset=2">
        <div class="well">
            <form class="form-horizontal" th:action="@{/transaction/details}" method="POST">
                <fieldset>
                    <legend>Make a Transaction</legend>


                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="address">Sender's Address</label>
                        <div class="col-sm-4 ">
                            <p id="address" th:text="${transactionUnsigned.from}"></p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="rec_address">Receiver's Address</label>
                        <div class="col-sm-4 ">
                            <p id="rec_address" th:text="${transactionUnsigned.to}"></p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="amount">Amount</label>
                        <div class="col-sm-4 ">
                            <p id="amount" th:text="${transactionUnsigned.value}"></p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="fee">Fee</label>
                        <div class="col-sm-4 ">
                            <p id="fee" th:text="${transactionUnsigned.fee}"></p>
                        </div>
                    </div>

                    <!--<div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <input type="button" id="buttonSignTransaction" class="btn btn-primary" value="Sign Transaction"/>
                        </div>
                    </div>-->

                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" th:href="@{/transaction/create}">Back</a>
                            <input type="submit" class="btn btn-primary" value="Sign"/>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</main>

<!--     $('#buttonSignTransaction').click(signTransaction);

function signTransaction() {
        //let privateKey = window.prompt("To sign a transaction you have to write down your private key")
        let privateKey = $('input[name="senderPrivateKey"]').val(
       // if(privateKey) {
            let ec = new elliptic.ec('secp256k1')
            let keyPair = ec.keyFromPrivate(privateKey)
            let publicKey = keyPair.getPublic().getX().toString(16) + (keyPair.getPublic().getY().isOdd() ? "1" : "0")
                )
            let from = $('input[name="senderAddress"]').val()
            let to = $('input[name="recipientAddress"]').val()
            let value = $('input[name="transferAmount"]').val()
            let senderPubKey = publicKey
            let senderSignature = [""]
            let dateCreated = new Date().toString()

            let transaction = {
                from:from,
                to:to,
                value:value,
                senderPubKey:senderPubKey,
                senderSignature:senderSignature,
                dateCreated:dateCreated
            }

            let transactionJson = JSON.stringify(transaction)

            let signedTransaction = [from,publicKey]

            $('#textareaSignedTransaction').val(signedTransaction)
        //}
        //else {
        //    window.alert("Invalid private key")
        //}
    } -->

<!--  $('#buttonSendSignedTransaction').click(sendSignedTransaction);
function sendSignedTransaction() {
        let nodeUrl = $('#textBoxNodeAccountBalance').val()
        let url = nodeUrl + '/transactions/new'
        let signedTransaction =  $('#textareaSignedTransaction').val()

        let from = $('input[name="senderAddress"]').val()
        let to = $('input[name="recipientAddress"]').val()
        let value = $('input[name="transferAmount"]').val()
        let senderPubKey = sessionStorage['pubKey']
        let senderSignature = signedTransaction.split(',')
        let dateCreated = "2018-02-01T23:23:56.337Z"

        let signatureArray = [senderSignature[0], senderSignature[1]]
        let transaction = {
            from:from,
            to:to,
            value: Number(value),
            senderPubKey:senderPubKey,
            senderSignature: signatureArray,
            dateCreated:dateCreated
        }

        jsonRequest = JSON.stringify(transaction)

        $.ajax({
            url: url,
            method: 'post',
            dataType: 'json',
            data: jsonRequest,
            contentType: "application/json",
            success: function(data) {
                $('#textareaSendTransactionresult').val(data.responseJSON.transactionHash)
            },
            error: function(err){
                $('#textareaSendTransactionresult').val(err.responseJSON.error)
            }
        })
    }-->