<main>
    <div class="container body-content span=8 offset=2">
        <div class="well">
            <form class="form-horizontal" th:action="@{/transaction/signed}" method="POST">
                <fieldset>
                    <legend>Make a Transaction</legend>


                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="address" style="padding: 5px">Sender's Address</label>
                        <div class="col-sm-4 ">
                            <p id="address" th:text="${transaction.from}" style="padding: 5px"></p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="rec_address" style="padding: 5px">Receiver's Address</label>
                        <div class="col-sm-4 ">
                            <p id="rec_address" th:text="${transaction.to}" style="padding: 5px"></p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="amount" style="padding: 5px">Amount</label>
                        <div class="col-sm-4 ">
                            <p id="amount" th:text="${transaction.value}" style="padding: 5px"></p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="senderPubKey" style="padding: 5px">Sender Public Key</label>
                        <div class="col-sm-4 ">
                            <p id="senderPubKey" th:text="${transaction.senderPubKey}" style="padding: 5px"></p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="transactionIdentifier" style="padding: 5px">Transaction Identifier</label>
                        <div class="col-sm-4 ">
                            <p id="transactionIdentifier" th:text="${transaction.transactionIdentifier}" style="padding: 5px"></p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="fee" style="padding: 5px">Fee</label>
                        <div class="col-sm-4 ">
                            <p id="fee" th:text="${transaction.fee}" style="padding: 5px"></p>
                        </div>
                    </div>


                    <div class="form-group">
                    <label class="col-sm-4 control-label" for="signatureR" style="padding: 5px">SignatureR</label>
                    <div class="col-sm-4 ">
                        <p id="signatureR" th:text="${transaction.signatureR}" style="padding: 5px"></p>
                    </div>
                </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="signatureS" style="padding: 5px">SignatureS</label>
                        <div class="col-sm-4 ">
                            <p id="signatureS" th:text="${transaction.signatureS}" style="padding: 5px"></p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="transactionHash" style="padding: 5px">Transaction Hash</label>
                        <div class="col-sm-4 ">
                            <p id="transactionHash" th:text="${transaction.transactionHash}" style="padding: 5px"></p>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" th:href="@{/transaction/create}" >Back</a>
                       <input type="submit" id="buttonSendSignedTransaction" class="btn btn-primary"
                                   value="Send Transaction"/>
                        </div>
                    </div>

                </fieldset>
            </form>
        </div>
    </div>
</main>

